<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Locatus Contacts</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="subtitle">Locatus contacts</div>
  </section>
</body>
</html>
